@use 'variaveis';

.shows {
    padding: 40px 0;
    min-height: 50vw;

    &__list {
        margin-top: 40px;
        display: none;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 24px;
        list-style: none;

        &--is--active {
            display: grid;
        }

    }

    &__list__item {
        img {
            max-width: 100%;
            width: 100%;
            border-radius: 4px;
        }
    }

    &__tabs {
        display: flex;
        justify-content: center;

        &__button {
            color: variaveis.$corTextoSecundario;
            font-size: 20px;
            border: none;
            padding-bottom: 5px;
            background: none;
            text-transform: uppercase;
            margin: 0 1vw;
            cursor: pointer;

            &--is--active {
                border-bottom: 5px solid variaveis.$corTextoSecundario;
            }

        }
    }
}
