$corDeFundo: #040714;
$corTextoPrincipal: silver;
$corTextoSecundario: #f9f9f9;
$corDeFundoBotaoPrimario: #6421ff;
$corDeFundoBotaoHover: #7a2eff;
$corDeFundoBotaoSecundario: #0063e5;
$corDeFundoBotaoSecundarioHover: #0483ee;
$corDeFundoBotaoDark:#000;
